<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery  -->
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
    </script>            
    <script defer src="/static/script.js"></script>
    <link href="/static/styles.css" rel="stylesheet">

    <title>Trivia Trainer</title>
</head>
<body>
    <div class="container">
        <form id='form-result' class="hide" action="">
            <div class="SP-container">
                <div class="modal-text modal-text-bigger">Round complete!</div>
                <div class="modal-text">Your score:</div>

                <!-- 4. here's where we show right answers: span id="right-answers" -->
                <div class="modal-text"><span id="right-answers" class="count"> 12 </span> of <span id="all-questions" class="count">count-of-questions</span> (<span id="answers-percent"></span>%)</div> 
            </div>
        </form>

        <div id="question-container" class="hide">
            <div class="number-of-question-text">
                Question № 
                <span id="current-question">YYY</span> 
                of 
                <span id="all-questions2">XXX</span>
            </div>
            <div id="question">Question</div>
            <div id="answer-buttons" class="btn-grid">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
            </div>
            <div id="answer-result" class="hide"></div>
        </div>
        <div class="controls">
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>
    </div>
</body>
</html>